
<body>
    <mat-toolbar color="primary">
        <span><mat-icon>table_view</mat-icon>Calculator App</span>

        <div class="spacer"></div>
        <a mat-button><mat-icon>home</mat-icon>Home</a>
        <a mat-button><mat-icon>miscellaneous_services</mat-icon>Services</a>
        <a mat-button><mat-icon>help</mat-icon>About Us</a>
        <a mat-raised-button color="accent">Sign in</a>
      </mat-toolbar>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Calculator</mat-card-title>
          <mat-card-subtitle>Features</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>Addition</p>
          <p>Subtraction</p>
          <p>Multiplication</p>
          <p>Division</p>
        </mat-card-content>
        
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      
    

<div class="content">

    <h1>{{ title }} app is running!</h1>
    <br>
    <input type="number" name="num1" [(ngModel)]="num1">
    <input type="number" name="num2" [(ngModel)]="num2" >
    <br><br>
    <button (click)="add()">ADD</button>
    <button (click)="sub()">SUB</button>
    <button (click)="mul()">MULTIPLY</button>
    <button (click)="div()">DIVIDE</button>
    <br><br>
    <h3>Result : {{num3}}</h3>
    <br><br>
    


    </div>
</body>


 
<router-outlet></router-outlet>
