.content {
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman';
    margin: 40px;
    padding: 10px;
  }
  .content h1{
    color: red;
  }
  .content h3{
    color: blue;
  }
  .content button{
    margin: 5px;
    background-color: rgb(175, 37, 37);
  
  }
  body{
    margin: 0;
    
  }
  .spacer{
    flex: 1 1 auto;
  }
  .example-card {
    background-color: aqua;
    max-width: 400px;
    align-content: center;
  }